/* default styles ends  */

:root {
  --bg-color-dark: #1f2023;
  --bg-hover-color-dark: #35363a;
  --bg-active-color-dark: #000000;
  --text-color-dark: #9ea1a7;
  --text-active-color-dark: #eaeaea;
  --text-hover-color-dark: #e8eaed;
  --border-color-dark: #4b4c51;
  --border-left: wheat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: opacity 500ms ease-in-out;
}

*::-webkit-scrollbar {
  display: none;
}
body {
  overflow: hidden;
  user-select: none;
}
/* splashscreen stylings */
.splash-screen{
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #383838;
  color: var(--text-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  z-index: 10;
  font-weight: lighter;
}
.splash-screen .my-name span{
  color: var(--text-active-color-dark);
}

/* background styles start  */
.mainBackground {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outerBox {
  position: absolute;
  top: calc(env(safe-area-inset-top) + 5vmin);
  right: calc(env(safe-area-inset-right) + 5vmin);
  bottom: calc(env(safe-area-inset-bottom) + 5vmin);
  left: calc(env(safe-area-inset-left) + 5vmin);
  border: 2px solid var(--border-color-dark);
}

/* grid styles start  */
.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 25%);
}
.grid-item-name {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  overflow-y: auto;
}
.grid-item-display {
  grid-row: 2 / -1;
  width: fit-content;
  overflow-y: auto;
  padding-left: 1.2rem;
  scroll-behavior: smooth;
}
.grid-item-nav {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  z-index: 4;
  overflow-y: auto;
}

/* Name section styling  */
.name-section {
  padding: 0.9rem 1.1rem;
  float: right;
  text-align: right;
  width: 100%;
}
.name-section h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  font-size: 2.6rem;
}
.name-section .title {
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

/* welcome section styling */
.welcome-section {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.7rem;
  letter-spacing: 0.07rem;
}
.welcome-section p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

/* projects section styling */
.personal-projects-heading {
  font-size: 0.9rem;
}

.project-type-styles {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 100;
  margin-top: 0.5rem;
  background-color: #000000;
  width: fit-content;
  border-radius: 0 0.4rem 0.4rem 0;
  padding: 0.1rem 0.3rem;
  margin-bottom: -2px;
}
.project-section {
  width: 50vmin;
  padding: 0.3rem;
}
.project-section .project-title {
  font-family: "Arimo", sans-serif;
  font-family: "Ubuntu";
}
.project-section .project-description {
  font-family: "Ubuntu";
  font-family: "Arimo", sans-serif;
  font-size: 1.05rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--text-hover-color-dark);
}

/* contact box styling */
.contact-section {
  width: 50vmin;
  display: flex;
  height: 100%;
}
.contact-section div {
  display: flex;
  flex-direction: column;
}
.contact-section a {
  color: var(--text-active-color-dark);
}
.contact-section .contacts {
  display: flex;
  justify-content: center;
}
.contact-section .contact-line {
  display: inline;
  padding: 0.5rem;
}
.contact-section .social-contacts {
  align-self: flex-end;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.contact-section a {
  text-decoration: none;
  color: var(--text-color-dark);
  padding: 2rem 1rem;
}
.contact-section a:hover {
  color: var(--text-hover-color-dark);
}

.nav-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;
  margin-right: 2rem;
}

/* utilites  */
.btn {
  font-family: "Ubuntu", sans-serif;
  padding: 0.2rem 0.1rem;
  margin: 0.2rem 0.1rem;
  text-align: left;
  width: 6.6rem;
  width: 22vmin;
  font-size: 1rem;
  border: none;
  color: var(--btn-text-color, --text-color-dark);
  background-color: var(--btn-bg-color, --bg-color-dark);
  cursor: pointer;
  transition: background 0.5s, transform 0.3s;
}
.btn:hover {
  --btn-text-color: var(--text-hover-color-dark);
  transform: translateY(-2px);
}
.btn.active {
  --btn-text-color: var(--text-active-color-dark);
  --btn-text-color: var(--text-active-color-dark);
}
.splash {
  transition: opacity 500ms ease-in-out;
}
.fade-out{
  opacity: 0;
}

.fade-in{
  opacity: 0;
}

.fade-in-active{
  opacity: 1;
}

.loading {
  padding: 3rem;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  html {
    font-size: 90%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }
  .welcome-section {
    width: 16rem;
  }
  .grid-item-display {
    width: 200%;
    z-index: 2;
  }
  .project-section {
    width: 45vmax;
  }
}
